{% extends 'base.html' %}

{% block title %}Straipsnis{% endblock %}

{% block content %}

  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2">{{ post.author }}</a>
        <small class="text-muted">{{ post.date|date:"Y-m-d, f" }}</small>
      </div>
      <h3><a class="article-title">{{ post.title }}</a></h3>
      <p class="article-content">{{ post.text | safe }}</p>
        <a>Komentaru: {{ post.num_comments }}</a>
      <hr>
        <div>
          {% for comment in post.comments.all %}
          <small class="text-muted">{{ comment.author }} ({{ comment.date|date:"Y-m-d, f" }}) </small>
          <p>{{ comment.body }}</p>
          {% endfor %}
        </div>
    </div>
  </article>
<hr>

{% endblock %}